<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context    http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop    http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="jmsFactory"
		class="org.apache.activemq.ActiveMQConnectionFactory" autowire="byName">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>
	<bean id="connection" class="javax.jms.Connection"
		factory-method="createConnection" lazy-init="true"
		factory-bean="jmsFactory" init-method="start" destroy-method="close" scope="prototype">
	</bean>
	<bean id="session" class="javax.jms.Connection"
		factory-method="createSession" lazy-init="true"
		factory-bean="connection" scope="prototype">
		<constructor-arg  value="false"></constructor-arg>
		<constructor-arg value="1"></constructor-arg>
	</bean>
</beans>